.candidate-info {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.columnTwo{
  display: flex;
  flex-direction: column;
  width: 99%;
  border-right: 1px solid lightgrey;
}

.renderMainInfo {
  display: flex;
  align-items: center;
  width: 99%;
  border-right: 1px solid lightgray;
}

.vacancies {
  margin-bottom: 20px;
  width: 100%;
  border-right: 1px solid lightgrey;
}

.vacancy {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 10px; */
}

.profile {
  width: 100%;
}

.leftColumnInfo {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px;
}

.rightColumnInfo {
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-right: 20px;
}

.iconSmall{
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 20px;
  color: '#fff';
}

.details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
}

.details h2 {
  margin: 0;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  width: 100%;
}

.progress {
  height: 100%;
  border-radius: 5px;
}

.status {
  color: red;
  margin-top: 10px;
}

.comments {
  margin-top: 20px;
}

.comment {
  margin-bottom: 10px;
}

.comment p{
  border: 0;
  background-color: #e0e0e0;
  padding: 0.6rem;
  border-radius: 15px;
}

textarea {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

button:hover {
  background-color: #e0e0e0;
}

@media screen and (min-width: 1300px){
  .candidate-info{
    flex-direction: row;
  }
}