.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #fff;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 10px;
  left: 0;
}

.current-page {
  font-size: 1.2rem;
  font-weight: bold;
}