.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar.open {
  width: 16rem;
}

.sidebar.closed {
  width: 60px; /* Только для иконок */
}

.content {
  flex: 1;
  background-color: #fff;
}